
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.layer{ 
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: row;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.outer-container{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    /* Hide scroll bar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}
/* Hide scroll bar */
::-webkit-scrollbar{
    display: none;
}
/* Player */
.player{
  background-color: transparent;
  position: fixed;
  width: 190px;
  height: 250px;
  bottom: 170px;
  left: 45%;
  z-index: 10;
  background-image: url(images/player.png);
  background-size: 190px 250px;
}
/* ////////////////////////////////////////////////////////////// ALGEMEEN LAYER */

.layers{
    z-index: 5;
    position: relative;
    left: 0;
    height: 100vh;
    width: 200vw;
    background: linear-gradient(to top, rgb(156, 212, 226), rgb(72, 233, 245));
    background-repeat: no-repeat;
}

/* //////////////////////////////////////////////////////////////// VOORSTE LAYER */

.voorgrond{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.grond{
    position: absolute;
    width: 200vw;
    height: 170px;
    bottom: 0;
    background-image: url(images/gras.png);
}



/* /////////////////////////////////////////////////////////////// BACKGROUND */

.background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}
/* Building */
.building1{
    position: absolute;
    width: 1200px;
    height: 1200px;
    left: 300px;
    bottom: 170px;
    background-image: url(images/buildingShop.png);
    background-repeat: no-repeat;
    background-size: 1200px 1200px;
}
.luchtbalon{
    position: absolute;
    left: 2000px;
    top: 100px;
    width: 80px;
    height: 136px;
    background-image: url(images/airballoon.png);
    background-size: 80px;
}
/* ////////////////////////////////////////////////////////////// WOLKEN LAYER */


.wolken{
    width: 100vw;
    height: 100vh;
}
.wolk{
    position: absolute;
    width: 290px;
    height: 160px;
    background-image: url(images/wolk.png);
    background-size: 290px 160px;
}
.een{
    top: 200px;
    left: 300px; 
}





