* {
    image-rendering: pixelated;
    cursor: url(images/sushiCursor.png),auto;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.layer {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: row;
    width: var(--background-width);
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

#outer-container {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    /* Hide scroll bar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Hide scroll bar */
::-webkit-scrollbar {
    display: none;
}

/* Player */
:root {
    
    --backgroundTowers-size: 7;
    --purpleTower-size: 0;
    --mountain-size: 9;
    --background-width: 1200vw;
    --player-size: 8;
    --name-size: 6;
    --aboutme-size: 6;
    --portal-size: 10;
    --boom-size: 8;
    --bos-size: 5;
    --balon-size:  5;
    --skateLoop-size: 8;
    --billBoard-size: 7;
    --foodStand-size: 7;
    --favFood-size: 8;

    --directionSign-size: 7;
    /* skills */
    --skills-size: 6;
    --woodenSign2-size: 8;
    --talenLijst-size: 8;
    --palmTree-size: 9; 
    --truck-size: 15;
    --factory-size: 10;
    

    /* Projects */
    --projectSign-size: 7;
}

#character {
    position: fixed;
    width: calc(20px * var(--player-size));
    height: calc(22px * var(--player-size));
    overflow: hidden;
    z-index: 5;
    bottom: 110vh;
    left: 40vw;
    transition: 1s;
}

#character_spritesheet {
    position: absolute;
    /* animation: moveSpritesheet 1s steps(2) infinite; */
    animation: none;
    width: calc(40px * var(--player-size));
}

/* naar andere kant kijken */
.face-right {
    top: calc(0 * var(--player-size));
}

.face-left {
    top: calc(-22px * var(--player-size));
}


@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

/* ////////////////////////////////////////////////////////////// ALGEMEEN LAYER */

.layers {
    z-index: 5;
    position: relative;
    left: 0;
    height: 100vh;
    width: var(--background-width);
    background: linear-gradient(to top, rgb(156, 212, 226), rgb(72, 233, 245));
    background-repeat: no-repeat;
}

/* //////////////////////////////////////////////////////////////// VOORSTE LAYER */

#voorgrond {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.grond1 {
    position: absolute;
    width: 137vw;
    height: 170px;
    bottom: 0;
    background-image: url(images/gras.png);
}
.grond2{
    position: absolute;
    width: 290vw;
    height: 170px;
    bottom: 0;
    left: 137vw;
    background-image: url(images/purpleGras.png);
}
.grond3{
    position: absolute;
    width: 350vw;
    height: 170px;
    bottom: 0;
    left: 427vw;
    background-image: url(images/streetGround.png);
}
.grond4{
    position: absolute;
    width: 350vw;
    height: 170px;
    bottom: 0;
    left: 777vw;
    background-image: url(images/iceGrond.png);
}
/* ///////////////////////////////////////////////////////////////////////////////////// BOOM en BOS*/
.boomGroen{
    position: absolute;
    background-image: url(images/greenTree.png);
    width: calc(30px * var(--boom-size));
    height: calc(52px * var(--boom-size));
    background-repeat: no-repeat;
    bottom: 170px;
    background-size: calc(30px * var(--boom-size)) calc(52px * var(--boom-size));
}
.boomEen{
    left: 65vw;
}
.bosGroen{
    position: absolute;
    background-image: url(images/greenBosje.png);
    width: calc(18px * var(--bos-size));
    height: calc(14px * var(--bos-size));
    background-repeat: no-repeat;
    bottom: 170px;
    background-size: calc(18px * var(--bos-size)) calc(14px * var(--bos-size));
}
.bosEen{
    left: 30vw;
}


/* /////////////////////////////////////////////////////////////////////////////////////// WELKOM SCREEN */
#welcomeText {
    transition: 1s;
    position: absolute;
    display: block;
    width: calc(145px * var(--name-size));
    height: calc(41px * var(--name-size));
    top: 300px;
    left: 30vw;
    background-image: url(gif/welcomeText.gif);
    background-repeat: no-repeat;
    background-size: calc(145px * var(--name-size)) calc(41px * var(--name-size));
    z-index: 7;
}
#welcomeText:hover{
    cursor: pointer;
}

/* Alle tekst blokken */
#nameText {
    transition: 1s;
    position: absolute;
    width: calc(131px * var(--name-size));
    height: calc(44px * var(--name-size));
    bottom: 110vh;
    left: 30vw;
    background-image: url(images/introName.png);
    background-repeat: no-repeat;
    background-size: calc(131px * var(--name-size)) calc(44px * var(--name-size));
}
/* ////////////////////////////////////////////////////////////////////////////////////// ABOUT ME */
.textAbout{
    position: absolute;
    width: calc(95px * var(--aboutme-size));
    height: calc(44px * var(--aboutme-size));
    top: 150px;
    left: 150vw;
    background-image: url(images/aboutMe.png);
    background-size: calc(95px * var(--aboutme-size)) calc(44px * var(--aboutme-size));
    z-index: 7;
}
.boomPaars{
    position: absolute;
    background-image: url(images/purpleTree.png);
    width: calc(30px * var(--boom-size));
    height: calc(52px * var(--boom-size));
    background-repeat: no-repeat;
    bottom: 170px;
    left: 166vw;
    background-size: calc(30px * var(--boom-size)) calc(52px * var(--boom-size)); 
}

.skateLoop{
    position: absolute;
    width: calc(140px * var(--skateLoop-size));
    height: calc(35px * var(--skateLoop-size));
    bottom: 170px;
    left: 210vw;
    background-image: url(gif/skateLoop.gif);
    background-size: calc(140px * var(--skateLoop-size)) calc(35px * var(--skateLoop-size));
    z-index: 5;
}
.billBoardSkate{
    position: absolute;
    width: calc(51px * var(--billBoard-size));
    height: calc(71px * var(--billBoard-size));
    bottom: 170px;
    left: 195vw;
    background-image: url(images/skateBillBoard.png);
    background-size: calc(51px * var(--billBoard-size)) calc(71px * var(--billBoard-size));
}
/* ///////////// Food */
.foodText{
    position: absolute;
    width: calc(87px * var(--favFood-size));
    height: calc(34px * var(--favFood-size));
    top: 0;
    left: 325vw;
    background-image: url(images/woodenSign.png);
    background-size: calc(87px * var(--favFood-size)) calc(34px * var(--favFood-size));
}
.sushiStand{
    position: absolute;
    width: calc(80px * var(--foodStand-size));
    height: calc(60px * var(--foodStand-size));
    bottom: 170px;
    left: 310vw;
    background-image: url(images/sushiStand.png);
    background-size: calc(80px * var(--foodStand-size)) calc(60px * var(--foodStand-size));
}
.tacoStand{
    position: absolute;
    width: calc(80px * var(--foodStand-size));
    height: calc(60px * var(--foodStand-size));
    bottom: 170px;
    left: 350vw;
    background-image: url(images/tacoTruck.png);
    background-size: calc(80px * var(--foodStand-size)) calc(60px * var(--foodStand-size));
}


/* ///////////////////////////////////////////////////////////////////////////////////// SKILLS */
.directionSign{
    position: absolute;
    width: calc(28px * var(--directionSign-size));
    height: calc(39px * var(--directionSign-size));
    bottom: 170px;
    left: 395vw;
    background-image: url(images/directionSign.png);
    background-size: calc(28px * var(--directionSign-size)) calc(39px * var(--directionSign-size));
}

.textSkills{
    position: absolute;
    width: calc(101px * var(--skills-size));
    height: calc(21px * var(--skills-size));
    top: 150px;
    left: 440vw;
    background-image: url(images/skillsText.png);
    background-size: calc(101px * var(--skills-size)) calc(21px * var(--skills-size));
    z-index: 7;
}
.skillsBoom{
    position: absolute;
    background-image: url(images/skillsBoom.png);
    width: calc(30px * var(--boom-size));
    height: calc(52px * var(--boom-size));
    background-repeat: no-repeat;
    bottom: 170px;
    left: 455vw;
    background-size: calc(30px * var(--boom-size)) calc(52px * var(--boom-size));
}
.languageSign{
    position: absolute;
    width: calc(65px * var(--woodenSign2-size));
    height: calc(60px * var(--woodenSign2-size));
    top: 0;
    left: 480vw;
    background-image: url(images/woodenSignLanguage.png);
    background-size: calc(65px * var(--woodenSign2-size)) calc(60px * var(--woodenSign2-size));
}
.talenLijst{
    position: absolute;
    width: calc(292px * var(--talenLijst-size));
    height: calc(43px * var(--talenLijst-size));
    bottom: 300px;
    left: 530vw;
    background-image: url(images/TalenLijst.png);
    background-size: calc(292px * var(--talenLijst-size)) calc(43px * var(--talenLijst-size));
}
.designText{
    position: absolute;
    width: calc(43px * var(--woodenSign2-size));
    height: calc(68px * var(--woodenSign2-size));
    top: 0;
    left: 670vw;
    background-image: url(images/designSign.png);
    background-size: calc(43px * var(--woodenSign2-size)) calc(68px * var(--woodenSign2-size));
}
.designLijst{
    position: absolute;
    width: calc(91px * var(--talenLijst-size));
    height: calc(40px * var(--talenLijst-size));
    bottom: 300px;
    left: 705vw;
    background-image: url(images/DesignLijst.png);
    background-size: calc(91px * var(--talenLijst-size)) calc(40px * var(--talenLijst-size));
}


/* ///////////////////////////////////////////////////////////////////////////////////// Projects*/
.textProjects{
    position: absolute;
    width: calc(150px * var(--skills-size));
    height: calc(21px * var(--skills-size));
    top: 150px;
    left: 790vw;
    background-image: url(images/projectsText.png);
    background-size: calc(150px * var(--skills-size)) calc(21px * var(--skills-size));
    z-index: 7;
}
.project{
    position: absolute;
    width: calc(100px * var(--projectSign-size));
    height: calc(100px * var(--projectSign-size));
    top: 0;
    background-image: url(images/projectSign.png);
    background-size: calc(100px * var(--projectSign-size)) calc(100px * var(--projectSign-size));
}
.projectEen{
    left: 850vw;
}
.projectTwee{
    left: 900vw;
}
.projectDrie{
    left: 950vw;
}
.projectVier{
    left: 1000vw;
}
.projectFrame{
    margin: 250px 4%;
    height: 55%;
    width: 90%;
    /* background-color: #7c4931; */
}
@font-face {
    font-family: font;
    src: url(fonts/LemonMilkLightItalic-7BjPE.otf);
}
.projectFrame > p{
    margin: 0 40px;
    font-size: 20px;
    font-family: font;
}
.projectFrame > img{
    image-rendering: auto;
    border: 5px solid;
    position: relative;
    width: 60%;
    margin: 20px 40px;
    font-size: 20px;
    font-family: font;
}
.projectFrame > div{
    position: absolute;
    right: 70px;
    margin: -60px 0;
    background-color: #583423;
    border: 2px solid #31190e;
    padding: 5px;
    box-shadow: 5px 5px 0px 0px  #422619;

}
a{
    text-decoration: none;
    color: white;
    font-family: font;
}
a:hover{
    cursor: pointer;
}
.titel{
    font-family: font;
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 40px;
}


/* ///////////////////////////////////////////////////////////////// Portals */
.portal1{
    position: absolute;
    width: calc(26px * var(--portal-size));
    height: calc(40px * var(--portal-size));
    background-image: url(images/portal.png);
    background-size: calc(26px * var(--portal-size)) calc(40px * var(--portal-size));
    background-repeat: no-repeat;
    bottom: 170px;
    left: 130vw;
}
.portal2{
    position: absolute;
    width: calc(26px * var(--portal-size));
    height: calc(40px * var(--portal-size));
    background-image: url(images/greenPortal.png);
    background-size: calc(26px * var(--portal-size)) calc(40px * var(--portal-size));
    background-repeat: no-repeat;
    bottom: 170px;
    left: 420vw;
}
.portal3{
    position: absolute;
    width: calc(26px * var(--portal-size));
    height: calc(40px * var(--portal-size));
    background-image: url(images/portalProjects.png);
    background-size: calc(26px * var(--portal-size)) calc(40px * var(--portal-size));
    background-repeat: no-repeat;
    bottom: 170px;
    left: 770vw;
}


/* /////////////////////////////////////////////////////////////// BACKGROUND */

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

/* lucht balon */
.luchtbalon {
    position: absolute;
    left: 1500px;
    top: 100px;
    width: calc(20px * var(--balon-size));
    height: calc(34px * var(--balon-size));
    background-image: url(images/airballoon.png);
    background-size: calc(20px * var(--balon-size)) calc(34px * var(--balon-size));
}

/* mountains */
.mountainEen{
    position: absolute;
    left: 90vw;
    bottom: 170px;
    width: calc(140px * var(--mountain-size));
    height: calc(66px * var(--mountain-size));
    background-image: url(images/mountainBig.png);
    background-repeat: no-repeat;
    background-size: calc(140px * var(--mountain-size)) calc(66px * var(--mountain-size));
}
.mountainTwee{
    position: absolute;
    left: 230vw;
    bottom: 170px;
    width: calc(140px * var(--mountain-size));
    height: calc(66px * var(--mountain-size));
    background-image: url(images/mountian.png);
    background-repeat: no-repeat;
    background-size: calc(140px * var(--mountain-size)) calc(66px * var(--mountain-size));
}
/* backgroundTowers */
.towersGem {
    position: absolute;
    left: 5vw;
    bottom: 170px;
    width: calc(62px * var(--backgroundTowers-size));
    height: calc(83px * var(--backgroundTowers-size));
    background-image: url(images/gemBackground.png);
    background-size: calc(62px * var(--backgroundTowers-size)) calc(83px * var(--backgroundTowers-size));
}
/* factory */
.factory1{
    position: absolute;
    left: 450vw;
    bottom: 170px;
    width: calc(115px * var(--factory-size));
    height: calc(93px * var(--factory-size));
    background-image: url(images/factory.png);
    background-size: calc(115px * var(--factory-size)) calc(93px * var(--factory-size));
}
.palmTree{
    position: absolute;
    left: 400vw;
    bottom: 170px;
    width: calc(32px * var(--palmTree-size));
    height: calc(49px * var(--palmTree-size));
    background-image: url(images/palmTree.png);
    background-size: calc(32px * var(--palmTree-size)) calc(49px * var(--palmTree-size));
}

/* BACKGORUND 2 //////////////////////////////////////////////////////////////////////////////////////////////// */
.background2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 6;
}
.factoryTruck{
    position: absolute;
    left: 415vw;
    bottom: 170px;
    width: calc(40px * var(--truck-size));
    height: calc(26px * var(--truck-size));
    background-image: url(images/factoryTruck.png);
    background-size: calc(40px * var(--truck-size)) calc(26px * var(--truck-size));
}
.factoryCar{
    position: absolute;
    left: 500vw;
    bottom: 170px;
    width: calc(15px * var(--truck-size));
    height: calc(7px * var(--truck-size));
    background-image: url(images/car.png);
    background-size: calc(15px * var(--truck-size)) calc(7px * var(--truck-size));
}
.factoryTruck2{
    position: absolute;
    left: 600vw;
    bottom: 170px;
    width: calc(40px * var(--truck-size));
    height: calc(26px * var(--truck-size));
    background-image: url(images/factoryTruck.png);
    background-size: calc(40px * var(--truck-size)) calc(26px * var(--truck-size));
}
/* ////////////////////////////////////////////////////////////// WOLKEN LAYER */


.wolken {
    width: 100vw;
    height: 100vh;
}

.wolk {
    position: absolute;
    width: 290px;
    height: 160px;
    background-image: url(images/wolk.png);
    background-size: 290px 160px;
}

.een {
    top: 200px;
    left: 30vw;
}
.twee{
    top: 300px;
    left: 90vw;
}
.drie{
    top: 150px;
    left: 130vw;
}
.vier{
    top: 200px;
    left: 200vw;
}
.vijf{
    top: 100px;
    left: 240vw;
}
.zes{
    top: 230px;
    left: 300vw;
}